In [44]:
!pip install scikit-surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (1.1.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.21.6)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.2.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.7.3)

In [45]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [46]:
import pandas as pd
from surprise import Dataset
from surprise import Reader

In [47]:
ratings = pd.read_csv('/content/drive/MyDrive/ml-latest-small/ratings.csv')

In [48]:
ratings.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [49]:
reader = Reader(rating_scale=(0.5, 5))

In [50]:
# Loads Pandas dataframe
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

In [51]:
from surprise import KNNWithMeans

# To use item-based cosine similarity
sim_options = {
    "name": "cosine",
    "user_based": False,  # Compute  similarities between items
}
knn = KNNWithMeans(sim_options=sim_options)

In [52]:
trainingSet = data.build_full_trainset()

In [53]:
knn.fit(trainingSet)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [54]:
threshold = 4.0

In [55]:
all_users = list(set(ratings['userId'].values))

In [56]:
user2movies = {user:[] for user in all_users}

In [57]:
for i in range(len(ratings)):
  user = ratings['userId'].iloc[i]
  movie = ratings['movieId'].iloc[i]
  user2movies[user].append(movie)

In [58]:
movies_data = pd.read_csv('/content/drive/MyDrive/ml-latest-small/movies.csv')

In [59]:
movies_data.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [60]:
all_movies = set(movies_data['movieId'].values)

In [61]:
len(all_movies)

9742

In [62]:
user2candidates = {user:[] for user in all_users}

In [63]:
for movie_id in all_movies:
  for user in user2movies.keys():
    if movie_id not in user2movies[user]:
      user2candidates[user].append(movie_id)

In [64]:
user2recommend = {user:[] for user in all_users}

In [65]:
for user in user2candidates.keys():
  for movie in user2candidates[user]:
    score = knn.predict(user, movie).est
    if score >= threshold:
      user2recommend[user].append((movie, score))

In [66]:
count = 0
for user in user2recommend.keys():
  count += len(user2recommend[user])
  print(len(user2recommend[user]))
print(count)

5222
1409
118
1061
1285
3060
1050
1859
2606
826
3738
6306
3483
1237
1055
866
2756
2039
534
3500
1287
196
778
1413
5543
694
1951
271
3087
5275
3087
2755
2317
1305
4451
191
4013
933
2605
3730
551
2917
6750
1982
3354
4536
316
4198
3168
313
3732
5099
7734
365
973
3647
1184
3878
4088
1965
2629
3961
1169
2709
2126
3539
1505
656
5063
3388
2054
3388
2654
3551
557
263
2107
849
3811
4794
242
1990
673
2242
1954
2805
3717
3841
361
3700
1048
4470
6007
627
4093
2698
5018
2886
5390
3381
2616
1682
3336
1707
2581
5413
3630
3702
953
1568
1570
1623
2303
570
3232
887
1211
1527
4534
1645
1063
5461
1980
3078
2902
796
321
2968
3221
1603
436
418
405
2516
2608
2049
1911
2531
82
1808
1058
2886
685
1539
1038
1549
2498
883
456
2483
3863
2081
13
5508
2381
1729
2135
2218
607
796
2931
4424
1030
4561
1468
3116
1024
4028
5551
1071
5659
2283
1009
2530
2953
3991
1377
3061
3360
1121
709
2050
2420
2480
2110
4366
1675
4487
1771
2351
2391
3437
742
1485
1400
2019
2238
1682
784
2948
4605
2492
2694
3106
1415
3293
1258
1517
3199
4253
2522
855
3372
566
2107
1548
426
905
833
3004
2963
779
594
4488
2355
2306
3119
2874
2855
294
1113
1423
716
3629
2378
5233
756
1441
3321
4775
1494
2200
5161
2527
278
3950
1062
1112
2793
5006
5258
4185
3590
2613
152
4200
769
3447
750
1782
2603
495
2420
1314
1292
1554
3970
834
3605
1375
595
986
3863
2197
3120
6785
3576
3603
1344
3621
1419
3157
1138
3861
2253
2387
299
1013
1482
3241
4171
1106
472
551
1901
2486
748
461
2433
2950
813
3382
2619
3397
3115
788
481
21
1175
1767
96
2526
1812
635
836
791
1643
1680
3945
1952
2538
633
679
1344
1860
2597
4102
707
93
1345
1396
1140
615
739
2667
4202
5544
977
3307
4601
3052
1237
2381
1972
3028
1038
1887
5315
2677
1009
1880
2807
2716
2576
3622
3303
2881
2553
1072
3682
638
3713
632
4238
118
2122
3513
740
948
798
5652
1055
1369
2139
3813
3404
3857
1901
941
3685
1660
3587
2589
1318
1020
462
778
3142
5454
2310
2197
1686
2111
600
609
1071
2507
3337
1502
4108
993
3971
2533
1069
2660
1474
2376
4305
2902
2935
1331
2509
4935
1554
2918
124
4390
1575
2369
2426
3224
1432
1949
1721
1476
1855
1108
230
5474
2712
711
1737
1036
1982
4629
1269
2640
2671
2709
2809
5024
203
2351
2839
1194
953
4025
1573
798
3970
3227
6189
4061
1265
1226
4705
2198
4709
3845
3551
306
403
2557
2703
4017
3019
750
1260
1502
1682
1012
3495
2188
891
6077
2712
2127
588
2090
1090
853
2567
1754
3741
3290
4449
363
1816
730
482
4754
4487
1519
3385
3944
1167
544
4098
2816
1167
996
1386
935
2866
4438
1090
765
615
933
526
3796
2849
2044
1938
5703
2163
132
2537
4952
3290
2581
1990
5742
1487
1568
2994
4231
953
1687
2876
2663
3581
3847
4583
1100
1267
2943
5182
3084
3994
1616
1779
6403
4900
3214
1416
3575
4659
832
3349
1512
906
4174
3512
2851
4338
2001
3893
1738
1407
1557
3906
1586
2180
2141
1876
101
3857
3443
786
1378
3393
4286
3743
2696
1191
1332
5362
4558
1146
3445
2339
876
5077
3721
4988
3553
834
4251
1319
1544
3310
470
5289
4468
1399
2829
545
587
520
3932
1423
1312
2259
1198
1982
3000
587
693
3185
1443327

In [67]:
ans = []

In [68]:
for user in all_users:
  if len(user2recommend[user]) > 0:
    for movie, score in sorted(user2recommend[user], key=lambda x: x[1], reverse=True)[0:3]:
      ans.append([user, movie, score])

In [69]:
result = pd.DataFrame(data=ans, columns=['userId', 'movieId'])
result.head()

   userId  movieId  score
0       1       28    5.0
1       1   131098    5.0
2       1   131104    5.0
3       2       53    5.0
4       2      467    5.0

In [70]:
result.to_csv('/content/drive/MyDrive/recommend.csv',index=False)